* {
  border-sizing: border-box; }

.container {
  margin: auto 0;
  min-width: 100%;
  min-height: 80vh;
  display: inline-block;
  z-index: -3; }

body {
  background-image: url("../img/geometry2.png"); }
  body a {
    text-decoration: none; }
  body h1, body h2 {
    font-family: "Rokkitt", serif; }
  body p {
    font-family: "PT Sans", sans-serif; }

.nav_top {
  position: fixed;
  top: 0;
  font-size: 2rem;
  clear: both; }
  .nav_top a {
    z-index: 3;
    color: #777; }
    .nav_top a:hover {
      transition: 1s;
      color: #8CED2B;
      font-size: 2.7em; }

.items {
  padding: 30px; }

.item_right {
  float: right;
  min-width: 25px; }

.icon {
  background-color: #8CED2B;
  border-radius: 100%;
  max-width: 25px; }
  .icon::hover {
    transition: 1s;
    max-width: 40px; }

.nav_bottom {
  display: inline-block;
  position: fixed;
  bottom: 0;
  font-size: 2rem;
  clear: both; }
  .nav_bottom a {
    z-index: 3;
    color: #777; }
    .nav_bottom a:hover {
      transition: 1s;
      color: #8CED2B;
      font-size: 2.7em; }

.home .title {
  background-color: none;
  text-align: center;
  margin: 30vh 20vw 0 20vw;
  max-width: 60vw; }
.home p {
  font-size: 1.5em; }
.home strong {
  color: #8CED2B;
  font-size: 1.4em; }

.skills {
  text-align: center;
  padding: 20%; }
  @media screen and (max-width: 700px) {
    .skills {
      padding: 10%; } }
  @media screen and (max-width: 500px) {
    .skills {
      padding: 0; } }
  .skills h1 {
    text-align: center; }
  .skills p {
    padding: 10%; }
  .skills .web {
    color: #F7464A; }
  .skills .mobile {
    color: #88CFEB; }
  .skills .code {
    color: #F7BE02; }
  .skills .soft {
    color: #C689F5; }
  .skills .soft_skills {
    font-size: 1.3em;
    color: #000; }

.projects {
  padding: 10%; }
  @media screen and (max-width: 700px) {
    .projects {
      padding: 3%; } }
  @media screen and (max-width: 500px) {
    .projects {
      padding: 10%; } }
  .projects h1, .projects p {
    text-align: center; }
  .projects p {
    font-size: 1.7rem; }
  .projects .big {
    background-size: cover;
    background-position: 50% 0;
    min-width: 25vw;
    min-height: 25vh; }
  .projects .tedx {
    background-image: url("../../img/projects/tedx.png"); }
  .projects .riego {
    background-image: url("../../img/projects/riego.png"); }
  .projects .al {
    background-image: url("../../img/projects/al.png"); }
  .projects .bowerasa {
    background-image: url("../../img/projects/bowerasa.png"); }
  .projects .small {
    background-size: cover;
    background-position: 50% 0;
    min-width: 15vw;
    min-height: 25vh; }
  .projects .afp {
    background-image: url("../../img/projects/afp.png"); }
  .projects .congressa {
    background-image: url("../../img/projects/congressa.png"); }
  .projects .red {
    background-image: url("../../img/projects/red.png"); }

.about {
  z-index: 2;
  padding: 20%; }
  .about a {
    display: inline-block;
    z-index: 10; }
  @media screen and (max-width: 700px) {
    .about {
      padding: 10%; } }
  @media screen and (max-width: 500px) {
    .about {
      padding: 5%; } }
  .about h1, .about .center {
    text-align: center; }
  .about .profpic {
    background-image: url("../../img/profpic.jpg");
    background-size: cover;
    background-position: 50% 0;
    max-width: 200px;
    min-height: 200px;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 15px; }
  .about .cv {
    background-color: #30D19B;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    padding: 15px;
    margin-bottom: 10%; }
    .about .cv:hover {
      box-shadow: 5px 5px 5px #888888; }
  .about .contact {
    text-align: right;
    font-family: "Rokkitt", serif;
    font-size: 3rem; }
    @media screen and (max-width: 500px) {
      .about .contact {
        text-align: center; } }
  .about .link {
    font-size: 2.3rem; }
    @media screen and (max-width: 500px) {
      .about .link {
        text-align: center;
        margin: -5% auto 10px; } }

/*# sourceMappingURL=main.css.map */
